:root{
    --principalColor:#8500CD;
    --secondaryColor:#8500CD;
    --backgroundInput:#8500CD;
    --iconColor:#808080;
    --backgroundContainer:#fff;
    --linkColor:#624386;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--principalColor), #EA41F1 );
}
.container{
    display: flex;
    align-items: stretch;
    max-width: 800px;
    min-height: 400px;
    background-color: var(--backgroundContainer);
}
.grid-container{
    display: grid;
    grid-template-columns: 55% 45%;
}
img{
    width: 60%;
}
.image-container,.flex-container{
    display: flex;
    flex-direction: column;
}
.image-container{
    align-items: center;
    justify-content: center;
}

.flex-container{
    margin: 25px 10px;
}
h1{
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.container-input{
    display: flex;
    margin: 15px 0;
}
.container-input button{
    width: 15%;
    border-top: 1px solid var(--principalColor); 
    border-left: 1px solid var(--principalColor); 
    border-bottom: 1px solid var(--principalColor); 
    border-right: 0px solid #fff;
}
.container-input input{
    border-top: 1px solid var(--principalColor); 
    border-right: 1px solid var(--principalColor); 
    border-bottom: 1px solid var(--principalColor); 
    border-left: 0px solid #fff;
}
.container-input button i{
    text-align: left;
    color:var(--iconColor);
    font-size: 16px;
}
.container-input input,.container-input button{
    height: 35px;
    outline:0 ;
    background-color: #fff;
    border-right: 0;
    outline: 0;
}
input{
    width:70%;
}
.login{
    height: 35px;
    color:#fff;
    font-size: 20px;
    background-color: var(--backgroundInput);
    border: 0;
    outline: 0;
    width: 70%;
    margin: 0 15%;
}
p{
    margin-top: 15px;
    margin-left: 15%;
}
p.link{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 15px 15% 0 15%;
}
a{
    color: var(--linkColor);
    font-weight: 500;
    text-decoration: none;
}


@media (max-width:750px){
    .image-container {
        display:none;
    }
    .grid-container{
        display: flex;
    }
    h1{
        font-size: 16px;
    }
}


@media(max-width:360px){
    p.link{
        flex-wrap: wrap;
        font-size: 14px;
    }
    .login{
        height: 25px;
        font-size: 18px;
    }
}